<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" href="./style.css">
    <title>Vue-Practice</title>
  </head>
  <body>
    <div id="app">
      <h2>section1 - Instance,el,data -</h2>
      <p>{{title}}</p>
      <h2>section2 - v-model -</h2>
      <input v-model="message" type="text" />
      <p>{{message}}</p>
      
      <h2>sections3 - v-for,v-if -</h2>
      <ul>
        <li v-for="list in lists">{{list.content}}</li>
      </ul>

      <p v-if="lists.length > 5">List is too many!</p>
      <!-- <p v-else-if="lists.length > 3">List is more than 3</p> -->
      <p v-else>List length is {{lists.length}}</p>

      <input type="checkbox" v-model="isActive" />
      <span>{{isActive}}</span>
      <span>{{!isActive}}</span>
      <h2>section4 - method -</h2>
      <input 
        type="button"
        value="+1"
        v-on:click="countUp()"
      />
      <p>{{counts}}</p>

      <h2>section5 - v-on,v-bind-</h2>
      <input 
        type="button"
        class="btn-toggle"
        value="Styled Button"
        v-on:click="toggle()"
        v-bind:class="{'is-active': toggleFlag}"
      />
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./index.js"></script>
</html>
